{
"openapi": "3.0.1",
"info": {
"title": "OpenAPI definition",
"version": "v0"
},
"servers": [
{
"url": "http://api.karaiguazu.com",
"description": "Generated server url"
}
],
"paths": {
"/vehiculo/": {
"put": {
"tags": [
"vehiculo-controller"
],
"operationId": "updatevehiculo",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Vehiculo"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
},
"post": {
"tags": [
"vehiculo-controller"
],
"operationId": "setvehiculo",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Vehiculo"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/usr": {
"get": {
"tags": [
"usuario-controller"
],
"operationId": "getAll_1",
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/Usuario"
}
}
}
}
}
}
},
"put": {
"tags": [
"usuario-controller"
],
"operationId": "updateUsuario",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Usuario"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
},
"post": {
"tags": [
"usuario-controller"
],
"operationId": "setUsuario",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Usuario"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/tiporesiduo/": {
"put": {
"tags": [
"tipo-residuo-controller"
],
"operationId": "updateTipoDeResiduo",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/TipoDeResiduo"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
},
"post": {
"tags": [
"tipo-residuo-controller"
],
"operationId": "setTipoDeResiduo",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/TipoDeResiduo"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/rol/": {
"put": {
"tags": [
"rol-controller"
],
"operationId": "updateRol",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Rol"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
},
"post": {
"tags": [
"rol-controller"
],
"operationId": "setRol",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/Rol"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/puntodr/": {
"put": {
"tags": [
"punto-recoleccion-controller"
],
"operationId": "updatePuntoR",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/PuntoRecoleccion"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
},
"post": {
"tags": [
"punto-recoleccion-controller"
],
"operationId": "setPersona",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/PuntoRecoleccion"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/pdre/": {
"put": {
"tags": [
"punto-recoleccion-estado-controller"
],
"operationId": "updatePuntoRecoleccion",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/PuntoRecoleccionEstado"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
},
"post": {
"tags": [
"punto-recoleccion-estado-controller"
],
"operationId": "setPuntoRecoleccionEstado",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/PuntoRecoleccionEstado"
}
}
},
"required": true
},
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/verifyg/{id}": {
"get": {
"tags": [
"google-token-ver"
],
"operationId": "getUsuario",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "string"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "string"
}
}
}
}
}
}
},
"/vehiculo": {
"get": {
"tags": [
"vehiculo-controller"
],
"operationId": "getAll",
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/Vehiculo"
}
}
}
}
}
}
}
},
"/vehiculo/{id}": {
"get": {
"tags": [
"vehiculo-controller"
],
"operationId": "getvehiculo",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"$ref": "#/components/schemas/Vehiculo"
}
}
}
}
}
},
"delete": {
"tags": [
"vehiculo-controller"
],
"operationId": "deleteVehiculo",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/usr/{id}": {
"get": {
"tags": [
"usuario-controller"
],
"operationId": "getUsuario_1",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"$ref": "#/components/schemas/Usuario"
}
}
}
}
}
},
"delete": {
"tags": [
"usuario-controller"
],
"operationId": "deleteUsuario",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/tiporesiduo": {
"get": {
"tags": [
"tipo-residuo-controller"
],
"operationId": "getAll_2",
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/TipoDeResiduo"
}
}
}
}
}
}
}
},
"/tiporesiduo/{id}": {
"get": {
"tags": [
"tipo-residuo-controller"
],
"operationId": "getTipoDeResiduo",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int32"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"$ref": "#/components/schemas/TipoDeResiduo"
}
}
}
}
}
},
"delete": {
"tags": [
"tipo-residuo-controller"
],
"operationId": "deleteTipoDeResiduo",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/rol": {
"get": {
"tags": [
"rol-controller"
],
"operationId": "getAll_3",
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/Rol"
}
}
}
}
}
}
}
},
"/rol/{id}": {
"get": {
"tags": [
"rol-controller"
],
"operationId": "getRol",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"$ref": "#/components/schemas/Rol"
}
}
}
}
}
},
"delete": {
"tags": [
"rol-controller"
],
"operationId": "deleteRol",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/puntodr": {
"get": {
"tags": [
"punto-recoleccion-controller"
],
"operationId": "getAll_4",
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/PuntoRecoleccion"
}
}
}
}
}
}
}
},
"/puntodr/{id}": {
"get": {
"tags": [
"punto-recoleccion-controller"
],
"operationId": "getPersona",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int32"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"$ref": "#/components/schemas/PuntoRecoleccion"
}
}
}
}
}
},
"delete": {
"tags": [
"punto-recoleccion-controller"
],
"operationId": "deletePuntoR",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/pdre": {
"get": {
"tags": [
"punto-recoleccion-estado-controller"
],
"operationId": "getAll_5",
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "array",
"items": {
"$ref": "#/components/schemas/PuntoRecoleccionEstado"
}
}
}
}
}
}
}
},
"/pdre/{id}": {
"get": {
"tags": [
"punto-recoleccion-estado-controller"
],
"operationId": "getPuntoRecoleccionEstado",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int32"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"$ref": "#/components/schemas/PuntoRecoleccionEstado"
}
}
}
}
}
},
"delete": {
"tags": [
"punto-recoleccion-estado-controller"
],
"operationId": "deletePuntoRecoleccion",
"parameters": [
{
"name": "id",
"in": "path",
"required": true,
"schema": {
"type": "integer",
"format": "int64"
}
}
],
"responses": {
"200": {
"description": "OK",
"content": {
"*/*": {
"schema": {
"type": "boolean"
}
}
}
}
}
}
},
"/": {
"get": {
"tags": [
"home"
],
"operationId": "handleFoo_5",
"responses": {
"200": {
"description": "OK"
}
}
},
"put": {
"tags": [
"home"
],
"operationId": "handleFoo",
"responses": {
"200": {
"description": "OK"
}
}
},
"post": {
"tags": [
"home"
],
"operationId": "handleFoo_1",
"responses": {
"200": {
"description": "OK"
}
}
},
"delete": {
"tags": [
"home"
],
"operationId": "handleFoo_6",
"responses": {
"200": {
"description": "OK"
}
}
},
"options": {
"tags": [
"home"
],
"operationId": "handleFoo_4",
"responses": {
"200": {
"description": "OK"
}
}
},
"head": {
"tags": [
"home"
],
"operationId": "handleFoo_3",
"responses": {
"200": {
"description": "OK"
}
}
},
"patch": {
"tags": [
"home"
],
"operationId": "handleFoo_2",
"responses": {
"200": {
"description": "OK"
}
}
}
}
},
"components": {
"schemas": {
"Vehiculo": {
"type": "object",
"properties": {
"get_id": {
"type": "integer",
"format": "int64"
},
"nombre": {
"type": "string"
},
"matricula": {
"type": "string"
},
"marca": {
"type": "string"
},
"modelo": {
"type": "string"
},
"chofer": {
"type": "integer",
"format": "int64"
}
}
},
"Rol": {
"type": "object",
"properties": {
"get_id": {
"type": "integer",
"format": "int64"
},
"nombre": {
"type": "string"
}
}
},
"Usuario": {
"type": "object",
"properties": {
"get_id": {
"type": "integer",
"format": "int64"
},
"username": {
"type": "string"
},
"apiId": {
"type": "string"
},
"rol": {
"$ref": "#/components/schemas/Rol"
},
"nombre": {
"type": "string"
},
"apellido": {
"type": "string"
},
"documento": {
"type": "string"
},
"telefono": {
"type": "string"
},
"email": {
"type": "string"
},
"direccion": {
"type": "string"
}
}
},
"TipoDeResiduo": {
"type": "object",
"properties": {
"get_id": {
"type": "integer",
"format": "int64"
},
"nombre": {
"type": "string"
}
}
},
"PuntoRecoleccion": {
"type": "object",
"properties": {
"get_id": {
"type": "integer",
"format": "int64"
},
"tipo": {
"$ref": "#/components/schemas/TipoDeResiduo"
},
"usuario": {
"type": "integer",
"format": "int64"
},
"latitud": {
"type": "number",
"format": "float"
},
"longitud": {
"type": "number",
"format": "float"
},
"direccion": {
"type": "string"
},
"descripcion": {
"type": "string"
},
"estados": {
"type": "array",
"items": {
"$ref": "#/components/schemas/PuntoRecoleccionEstado"
}
}
}
},
"PuntoRecoleccionEstado": {
"type": "object",
"properties": {
"get_id": {
"type": "integer",
"format": "int64"
},
"fecha": {
"type": "string"
},
"usuario": {
"type": "integer",
"format": "int64"
},
"estado": {
"type": "string"
},
"detalle": {
"type": "string"
}
}
}
}
}
}
